# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Beth\Downloads\唐宇迪图像分割\第十一章基于MASK-RCNN框架训练自己的数据与任务\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
